{% extends "emails/base.html" %}

{% block content %}
<p style="font-size: 15px; margin-bottom: 20px;">
    Здравствуйте, <a href="mailto:{{ email }}" style="color: #0067b8; text-decoration: none;">{{ email }}</a>!
</p>
<p style="font-size: 15px; margin-bottom: 20px;">
    Мы получили запрос на отправку разового кода для вашей учетной записи Sirius.Achievements.
</p>
<p style="font-size: 15px; margin-bottom: 5px;">
    Ваш разовый код: <span style="font-weight: 600; font-size: 16px;">{{ code }}</span>
</p>
<p style="font-size: 15px; margin-top: 20px; margin-bottom: 25px;">
    Вводите этот код только на официальном сайте или в приложении. Не делитесь им ни с кем.
</p>
{% endblock %}
